<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Recommendation: {% block title %}{% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/movie.ico" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/static/styles.css" rel="stylesheet">

</head>
<body>

<div class="vg-page page-home" id="home">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><span class="red">Recommender</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        {% if session.user_id %}
            <ul class="nav navbar-nav">
                <li><a href="/history">Movies Watched So far</a></li>
                <li><a href="/top">Top Movies</a></li>
                <li><a href="/connect">Connect with People</a></li>
                <li><a href="/add">Add Movies</a></li>
                <li><a href="/change_password">Change Password</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out </a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register </a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In </a></li>
            </ul>
        {% endif %}
    </div>
  </div>
</nav>
</div>
  
<main class="container p-5">    
    {% block main %}{% endblock %}
</main>

</body>
</html>